.potato {
    filter: grayscale(1);
}

.potato.active {
    filter: grayscale(0);
}

.movie_potato {
    filter: grayscale(1);
}

.movie_potato.active {
    filter: grayscale(0);
}

.login form {
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 400px;
    margin-top: 3%;
}

.register form {
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 450px;
    margin-top: 3%;
}

.register .form-control, .login .form-control{
    border: none;
}

.about {
    background: #f0f0f0;
}

.about .about-us {
    width: 100%;
    padding: 20px;
}

.about .container {
   padding-top: 20px;
   background: white;
   width: 80%;
}